<div class="calendario">
  <div class="head">
    <div class="content-head">
      <button (click)="onClickPrev()"><i class="bi bi-chevron-left"></i></button>
      <h1>{{ month }}</h1>
      <button (click)="onClickNext()"><i class="bi bi-chevron-right"></i></button>
    </div>
    <div class="content-body">
      <p>{{ day }}</p><!--seg-feira, 25 janeiro 2023-->
    </div>
  </div>

  <div class="body">
    <div class="week-days">
      <div *ngFor="let days of weeksDays"> {{ days }} </div>
    </div>

    <div class="month-days">
      <div *ngFor="let days of firstDays" class="first-days">{{ days }}</div>
      <div #days *ngFor="let day of monthDays">{{ day }}</div>
      <!--div class="current-day">14</div-->
      <div class="next-days" *ngFor="let days of nextDays">{{ days }}</div>
    </div>
  </div>
</div>
